* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto sans', sans-serif;
}

/* Vars */
:root {
    --lightmint: #E5F9E0;
    --brightpurple: #9593D3;
    --darkpurple: #382633;
    --brown: #96705B;
    --orange: #FF9770;
}

/* Navbar Styles */
nav {
    width: 100%;
    background-color: var(--orange);
    overflow: hidden;
    position: fixed;
    z-index: 1;
}
nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: end;
}
nav > ul > li {
    padding: 1rem;
    font-size: 1.4rem;
    
}
.nav-link {
    color: black;
    text-decoration: none;
}
.nav-link a:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out; 
    /* not sure why the above 2 don't work? */
}
.top-navbar .icon {
    display: none;
}
.icon {
    color: black;
    cursor: pointer;
}
/* Hide all menu links other than Burger Icon when screen is less than 600px */
@media screen and (max-width: 600px) {
    .nav-link {
        display: none;
    } 
    #navbar .icon {
        float: right;
        display: block;
    }
}
/* Add 'responsive' class to nav with JS when user click on the Burger Icon */
@media screen and (max-width: 600px) {
    .top-navbar.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: left;
        margin: 0 0 auto auto;
        text-align: right;
    }
    .top-navbar.responsive .icon {
        right: 0;
        top: 0;
    }
    .top-navbar.responsive .nav-link {
        float: none;
        display: block;
        text-align: left;
    }
    .top-navbar.responsive > ul {
        flex-direction: column;
        align-items: left;
        margin: 0 0 auto auto;
        text-align: right;
    }
}

/* Welcome Section */

#welcome-section {
    width: 100%;
    text-align: center;
    height: 100vh;
    background-color: var(--darkpurple);
}
#welcome-section > h1 {
    color: var(--lightmint);
    padding-top: 15rem;
    font-size: 4rem;
}
#welcome-section > h2 {
    font-style: italic;
    color: var(--lightmint);
    margin-top: 2rem;
}
#welcome-section>h3 {
    font-style: italic;
    color: var(--lightmint);
    margin-top: 2rem;
}

/* Projects section */

#projects {
    width: 100%;
    background-color: var(--lightmint);
    color: var(--darkpurple);
    text-align: center;
}
#projects > div > h2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: block;
    width: 100%;
    font-size: 3rem;
}
.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.projects-tile {
    border: 1.5px solid var(--brown);
    margin: 2rem auto;
    border-radius: 5%;
}
.project-img {
    height: 15rem;
    width: 15rem;
    border-radius: 5%;
}
.projects-tile > h3 {
    padding: 0.75rem;
}
.projects-tile > h3:hover {
    color: var(--brightpurple);
    transition: all 0.5s ease-in-out;
}
.projects-tile:hover {
    border-color: var(--brightpurple);
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}
#projects > button {
    padding: 0.75rem 1.5rem;
    border-radius: 12px;
    border: 1.5px solid var(--darkpurple);
    background-color: var(--darkpurple);
    color: var(--lightmint);
    margin: 2rem auto 5rem auto;
    font-family: inherit;
    box-shadow: none;
}
#projects > button > a {
    color: var(--lightmint);
    text-decoration: none;
    font-family: inherit;
}
#projects > button > a :hover{
    text-decoration: none;
    cursor: pointer;
}
#projects > button > a :active{
    text-decoration: none;
    cursor: pointer;
}
#projects > button > a :visited{
    text-decoration: none;
    cursor: pointer;
}
#projects > button:hover {
    background-color: var(--brightpurple);
    transition: all 0.5s ease-in-out;
    border-color: var(--brightpurple);
    transform: scale(1.1);
}
/* Media query to make tiles into 1 column on small screens */
@media screen and (max-width: 600px) {
    .projects-container {
        flex-direction: column;
    }
}

/* Contacts section */

#contact-section {
    background-color: var(--darkpurple);
    color: var(--lightmint);
    text-align: center;
}
#contact-section > h1 {
    padding-top: 6rem;
    padding-bottom: 0.75rem;
}
#contact-section > h4 {
    font-style: italic;
    padding-bottom: 6rem;
    
}
.contact-container > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 6rem;
}
.contact-link {
    color: var(--lightmint);
    text-decoration: none;
    font: 'Noto sans', sans-serif;
}
.contact-icon:hover {
    color: var(--orange);
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}
.contact-link:hover {
    color: var(--orange);
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}
.contact-link:active, .contact-icon:active {
    color: var(--orange);
    text-decoration: none;
}
.contact-link:visited, .contact-icon:visited {
    color: var(--lightmint);
    text-decoration: none;
}
/* Media query to make links appear in column on small screens */
@media screen and (max-width: 600px) {
    .contact-container > ul {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contact-container > ul > li {
        padding: 2rem;
    }
}


/* Footer styles */

footer {
    background-color: var(--orange);
    color: var(--darkpurple);
    text-align: center;
}
footer > h4 {
    padding: 2rem;
}
footer > p {
    padding-bottom: 2rem;
}
footer > p > a {
    text-decoration: none;
    color: var(--darkpurple);
}
footer > p > a:hover {
    text-decoration: none;
    color: var(--brown);
}
footer > p > a:active {
    text-decoration: none;
    color: var(--brown);
}
footer > p > a:visited {
    text-decoration: none;
    color: var(--darkpurple);
}
